@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;500;600;700&display=swap');

/* Shared style */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

.text-light-gray {
    color: #727272;
    font-weight: 400;
}

.title {
    font-size: 3rem;
    color: #131313;
    font-weight: 700;
}


/* header start */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 250px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

/* .nav-title {
    font-size: 3rem;
    color: #131313;
    font-weight: 700;
} */
nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
}

.banner-content {
    max-width: 862px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description {
    padding: 32px;
}

.banner img {
    width: 100%;
    margin-top: 50px;
}

/* header end */


/* main start */

main {
    /* max-width: 1040px; */
    margin: 70px auto;
}

/* teams start */
.teams-container {
    display: flex;
    align-items: center;
    margin: 85px 300px 0 300px;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-img-container img {
    width: 100%;
}

.teams-content {
    width: 1000px;
    padding-left: 50px;
}

.teams-title {
    font-size: 3rem;
}

.teams-title-quick-list {
    color: #727272;
    font-weight: 500;
}

/* .teams-title-of-Our{
    color: #131313;
    font-weight: 700;
} */
.teams-title-features {
    color: #FF900E;
    font-weight: 700;
}
.teams-description {
    margin-top: 24px;
    margin-bottom: 32px;
}

/* teams end */


/* facts start */
.facts-container {
    margin: 210px;
}

.facts-container .teams-description {
    margin-top: 24px;
    margin-bottom: 100px;
    max-width: 540px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-status {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-card-container .card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}

/* facts end */

/* sponsors start */
.sponsor-container {
    text-align: center;
}
.sponsor-description{
    margin: 24px;
}
.sponsor-img-container-cards {
    display: flex;
    justify-content: space-between;
    margin: 50px 240px 0 240px;
}
/* sponsor end */

/* footer */
.footer {
    margin: 50px 240px 220px 240px;
    text-align: center;
    border-radius: 8px;
    background: #FFF4E7;
    padding: 40px;
}



/* responsive media queries */

/* mobile */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsor-img-container-cards {
        flex-direction: column;
        margin: 0;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content {
        width: auto;
        margin-top: 25px;
    }

    .facts-container {
        margin: 25px;
        text-align: center;
    }

    .facts-card-container .card {
        /* width: auto; */
        margin: 10px;
    }
    .sponsor-container {
        text-align: center;
        margin: 20px;
    }
    .sponsor-img-container-cards img {
        padding: 20px;
    }
    .footer {
        margin: 0;
    }
}

/* tablet or medium device */
@media screen and (min-width: 576px) and (max-width: 1024px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content {
        width: 800px;
        margin-top: 25px;
        text-align: center;
    }

    .facts-container {
        text-align: center;
    }

    .facts-card-container .card {
        width: auto;
        margin: 10px;
    }
    .sponsor-container {
        text-align: center;
        margin: 20px;
    }
    .sponsor-img-container-cards{
        flex-wrap: wrap;
        margin: 0;
    }
    .sponsor-img-container-cards img {
        padding: 20px;
    }
}